/* 
    Call to function edit display.
*/

table  {
    border: 5px solid  #000;
    }

.table-tr {
    height: 40px;
    width: 40px;
    color: red;
    background-color: black; 
}

.table-td {
    text-align: center;
    height: 40px;
    width: 40px;
    color: lime;
}