/* 
    Call to function edit display.
*/
body {
    background-color: #000;
}

h1 {
    color: lime;
    border: 1px solid lime;
    margin-left: -15%;
    text-align: center;
}

.hr1{
    height: 1px;
    width: 50%;
    padding: 1px;
    border: 1px solid lime;
    text-align: center;
    background-color: #000;
    color: lime;
    margin-left: 15%;
}

.hr2{
    height: 1px;
    width: 25%;
    padding: 1px;
    border: 1px solid lime;
    text-align: center;
    background-color: #000;
    color: lime;
    margin-left: 27%;
}

.hr3{
    height: 1px;
    width: 5%;
    padding: 1px;
    border: 1px solid lime;
    text-align: center;
    background-color: #000;
    color: lime;
    margin-left: 37%;
}

#table {
            border: 5px solid  lime;
            animation: eventjs 0.1s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
        
        @keyframes eventjs {
            0% {
                border: 5px solid lime;
            }
            25% {
                border: 5px solid blue;
            }
            50% {
                border: 5px solid red;
            }
            75% {
                border: 5px solid yellow;
            }
            100% {
                border: 5px solid white;
            }
        }

.table-tr {
    height: 40px;
    width: 40px;
    color: red;
    background-color: black; 
}

.table-td {
    text-align: center;
    height: 40px;
    width: 40px;
    color: lime;
}